body,
html {
    height: 100%;
    margin: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%238A2BE2" fill-opacity="0.7" d="M0,192L40,186.7C80,181,160,171,240,144C320,117,400,75,480,74.7C560,75,640,117,720,165.3C800,213,880,267,960,288C1040,309,1120,299,1200,261.3C1280,224,1360,160,1400,128L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>')
        no-repeat center center fixed;
    background-size: cover;
    background-color: #d7eaff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login-form {
    max-width: 700px;
    width: 500px;
    margin-top: 50px;
    /* Añade margen automático horizontal para centrar */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* Alinea el contenido al centro */
}

.form-title-login-form {
    margin-bottom: 30px;
}

.input-group-login-form {
    position: relative;
    margin-bottom: 25px;
}

.input-group-login-form i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.form-control {
    padding-left: 35px;
}

.btn {
    width: 100%;
}

.container-login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-group-login-form {
    position: relative;
    margin-bottom: 1.5rem;
}
.input-group-login-form i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}
.input-group-login-form input {
    padding-left: 2.5rem;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3d1b94;
    border-color: #3d1b94;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary:hover {
    color: #fff;
    background-color: #704c9f;
    border-color: #704c9f;
}

.btn-primary {
    color: #fff;
    background-color: #522db2;
    border-color: #522db2;
}
